/.spellr_wordlists/
/bin
/spec/
/.dockerignore
/.gitignore
/.leftovers.yml
/.rspec
/.rspec_status
/.rubocop.yml
/.simplecov
/.spellr.yml
/.travis.yml
/Gemfile.lock
/Dockerfile
/Rakefile
/vendor/
/.bundle/
/.github
/pkg
/tmp
/coverage
/.ruby-version
/.rspec_status
